@model IEnumerable<DBModel.Models.OperationResult>

@{
    ViewBag.Title = "Список вычислений";

    var topOperations = ViewBag.TopOperations as IDictionary<string, int>;
}

<h2>Список всех вычислений</h2>
<p>
    @Html.ActionLink("Все операции", "DisplayListOfOperatons", null, new { @class = "btn btn-primary" })

    @foreach (var top in topOperations)
    {
        @:&nbsp;
        @Html.ActionLink($"{top.Key} ({top.Value})", "DisplayListOfOperatons", new { oper = top.Key }, new { @class = "btn btn-warning" })
    }

    @Html.ActionLink("Мои вычисления", "DisplayListOfOperatons", "Calc", new { myCalculate = true }, new { @class = "btn btn-danger" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OperationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arguments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Result)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExecutionTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExecutionDate)
        </th>
        <th>
            Инициатор
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OperationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Arguments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Result)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExecutionTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExecutionDate)
        </td>
        <td>
            @if (item.Iniciator != null)
            {
                @Html.DisplayFor(modelItem => item.Iniciator)
            }
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Вернуться к калькулятору", "Index", "Calc", new { @class = "btn btn-default" })
</div>
